-- supabase/migrations/20260801120000_events_bucket_videos.sql
UPDATE storage.buckets SET allowed_mime_types = ARRAY['image/jpeg', 'image/png', 'image/webp', 'video/mp4', 'video/quicktime', 'video/webm'], file_size_limit = 52428800 WHERE id = 'events';
